#cl1{
    border: 4px 1.25em pink;
    outline: 0.5rem solid khaki;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    height: 50px;
  width: 90%;
  
}